.button {
  margin-right: 15px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 80px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  background-color: rgb(210, 222, 224);
}

/* чому не працює :last-child та інші псевдопрефікси */
.button:last-child {
  margin-right: 0px;
}

.button:hover,
.button:focus {
  background-color: rgb(184, 216, 221);
}
